<% include ./partials/header %>
   

<!-- <div class="ui main text container"> -->

<div class="container pad-body">
    <div class="row ">
       <h2>New Mission</h2>
    </div>

    <div class="row">
        <% nM.forEach(function(mission, k){ %>
            <div class="container col-sm-4">
                <div class="mission-post">
                    <a class="header" href="/missions/<%= mission._id %>"><%= mission.title %></a>
                    <span><%= mission.date_created.toLocaleDateString("en-UK", 
                                            { weekday: 'short', year: 'numeric', month: 'short', day: 'numeric' }) 
                            %>            
                    </span>    
                    <span class="right-text">
                         <%= moment(mission.date_created).fromNow() %>
                    </span>
                </div>
            </div>         
        <%}) %>
    </div>
</div>



<div class="ui main main-padding">
    <div class="ui huge centered header"><a href="/NewMission">New Mission</a></div>
        <div class="ui four column grid">
            <% nM.forEach(function(mission){ %>
                <div class="column">
                    <div class="ui segment">
                        <div class="item">
                            <div class="content">
                                <a class="header" href="/missions/<%= mission._id %>"><%= mission.title %></a>
                                
                                <div class="meta segment">
                                    <span><%= mission.date_created.toLocaleDateString("en-UK", 
                                            { weekday: 'short', year: 'numeric', month: 'short', day: 'numeric' }) 
                                    %></span>    
                                    <span class="right-text">
                                         <%= moment(mission.date_created).fromNow() %>

                                    </span>

                                </div>  

                                <div class="meta">
                                    
                                    </div class="description">
                                        <p>
                                            <%= mission.details.substring(0,40) %>...   
                                        </p>    
                                    <div class="description">
                                        
                                </div>
      <!--                           <div class="extra">
                                    <a class="ui floated basic violet button bounty" href="/missions/<%= mission._id %>">
                                        Read more <i class="right chevron small icon"></i>           
                                    </a>
                                </div>  
 -->
                                <div class="extra">
                                    <a class="ui floated basic violet button bounty" href="#">
                                        Read more <i class="right chevron small icon"></i>           
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>    
                </div>
            <% }) %>
        </div>
    </div>       
</div>    
    

<script type="text/javascript">
    $(document).ready(function(){
     $('.bounty').click(function(){
        $('#modaldiv').modal('show');    
     });
});

<% include ./partials/footer %>
