<% include ./partials/header %>
   

<!-- <div class="ui main text container"> -->

<div class="container pad-body">
    <div class="row ">
       <a href="" class=""><h2>New Mission</h2></a>
    </div>

    <div class="row">
        <% nM.forEach(function(mission, k){ %>
            <div class="missionmodal container col-sm-4 col-lg-4" data-toggle="modal" data-target="#myModal">
                <div class="mission-post">
                    <h3><%= mission.title %></h3>
                    <div>
                        <span><%= mission.date_created.toLocaleDateString("en-UK", 
                                                { weekday: 'short', year: 'numeric', month: 'short', day: 'numeric' }) 
                                %>            
                        </span>    
                        <span class="right-text">
                             (<%= moment(mission.date_created).fromNow() %>)
                        </span>
                    </div>
                    <p>Reward: <%= mission.reward%></p>
                    <p><%= mission.details.substring(0,40) %>... </p>

                </div>
            </div> 

             <!-- Modal -->
              <div class="modal fade" id="myModal" role="dialog">
                <div class="modal-dialog">
                
                  <!-- Modal content-->
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <a class="header" href="/missions/<%= mission._id %>"><h1 class="modal-title"><%= mission.title %></h1></a>
                    </div>
                    <div class="modal-body">
                      <p><%= mission.date_created.toLocaleDateString("en-UK", 
                                                { weekday: 'short', year: 'numeric', month: 'short', day: 'numeric' }) 
                                %></p>
                      <p>(<%= moment(mission.date_created).fromNow() %>)</p>

                      <h3>Mission Descriptions:</h3>
                      <p><%= mission.details.substring(0,200)%></p>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                  
                </div>
              </div>
              <!-- END OF Modal -->         
        <%}) %>
    </div>


</div> <!--END OF container pad-body end-->

   

<script type="text/javascript">
    $(document).ready(function(){
     $('.bounty').click(function(){
        $('#modaldiv').modal('show');    
     });
});
</script>

<% include ./partials/footer %>
