<% include ./partials/header %>



<div class="ui main text container">
    <div class="ui huge header">
        <%= mission.title %>
    </div>  
     <div class="ui huge">
        <i class="User Checkered icon"></i><%= mission.author.username %>
    </div>  
    <div class="ui huge">
        <i class="Flag Checkered icon"></i><%= mission.status %>
    </div>
    <div class="ui top attached">
        <div class="item">
            <img class="ui centered medium rounded image" src="<%= mission.image %>">
        </div>
        <div class="content padding-1em">
            <div class="ui medium header">
                <span>
                    <i class="Hourglass Start icon"></i>

                    <%= mission.date_created.toLocaleDateString("en-UK", 
                            { weekday: 'short', year: 'numeric', month: 'short', day: 'numeric', 
                            hour: 'numeric', minute: 'numeric' }) %>
                </span>
            </div>
        </div>
        <div class="content padding-1em">
            <div class="ui medium header">
                <span>
                    <i class="Hourglass End icon"></i>

                    <%= mission.date_due.toLocaleDateString("en-UK", 
                            { weekday: 'short', year: 'numeric', month: 'short', day: 'numeric', 
                            hour: 'numeric', minute: 'numeric' }) %>
                </span>
            </div>
        </div>        
        <div class="content padding-1em">
            <div class="ui medium header">
                <span>
                    <i class="Money icon"></i>

                    <%= mission.reward %>
                </span>
            </div>
        </div>
        <div class="content padding-1em">
            <div class="ui medium header">
                <span class="mission-details">
                    <i class="Code icon"></i>
                    <%- mission.details %>
                </span>
            </div>
        </div>

        <div class="description">
            <p class="mission-details">
                <i class="Group Object icon"></i>
                <%- mission.category %>
            </p>
        </div>


    </div>    

    <div class="button-padding">
        <a href="/missions/<%= mission._id %>/edit"  class="ui big inverted yellow button">Edit</a>
        
        <form action="/missions/<%= mission._id %>?_method=DELETE" method="POST" id="deleteform">
               <button class="ui big red inverted button">Delete</button> 
        </form>               
    </div>

    <div class="button-padding">
        <% if(mission.status == "NEW"){%>
            <form action="/missions/<%= mission._id %>?_method=PUT" method="POST" id="acceptMission">
                <input type="hidden" name="mission[status]" value="ONGOING">
                <button class="ui big green inverted button" type="submit">Accept Mission</button> 
            </form>
        <% }else if(mission.status == "ONGOING"){ %>
            <form action="/missions/<%= mission._id %>?_method=PUT" method="POST" id="deleteform">
                <input type="hidden" name="mission[status]" value="COMPLETED">
                <button class="ui big blue inverted button">Mark as Completed</button> 
            </form>  
        <% } %>    
    </div>

    <!-- Comment Section -->

    <% include ./partials/comment %>

    
</div>

<% include ./partials/footer %>